/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgba(240, 240, 240, 0.74);
    background-origin: border-box;
}

/* Classi */


.inlinea{
 display: inline;
 background-color: white;
}

.mainpage{
    align-self: center;
    margin: 70px 200px;
    padding: 15px 30px;
    background-color: white;
}

.container-logo{
    padding: 10px 0 10px 20px;
    font-size: 35px;
    font-family: Helvetica;
    font-weight: 400;
    background-color: white;
}
.logo{
    height: 70px;
    background-color: white;
}


.container-lista{
    margin: 40px 20px;
    background-color: white;
    font-family: Helvetica;
}

.container-bottone{
    margin:10px 0 10px 10px;
    background-color: white;
}

.bottone{
    border-radius: 15%;
    border-color: rgb(128, 125, 125,0.7);
    height: 35px;
    width: fit-content;
    padding: 0 5px;
    background-color: white;
    color: rgb(128, 125, 125,0.7);
    cursor: pointer;
}

.bottone:hover{
    background-color: rgb(87, 87, 158);
    color: white;
}

.icona{
    height:25px;
    width: fit-content;
    padding: 3px 5px;
    border-radius: 30%;
    background-color: rgb(219, 19, 19);
    color: white;
}
/* Tags */
ul{
    background-color: white;
}

li{
    background-color: white;
}

b{
    background-color: white;
}