/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgba(240, 240, 240, 0.74);
    background-origin: border-box;
}

/* Classi */


.inline{
 display: inline;
 background-color: white;
}

.mainpage{
    align-self: center;
    margin: 70px 200px;
    padding: 15px 30px;
    background-color: white;
}

.container-logo{
    padding: 10px 0 10px 20px;
    font-size: 35px;
    font-family: Helvetica;
    font-weight: 400;
    background-color: white;
}
.logo{
    height: 70px;
    background-color: white;
}
.logo-small{
    height: 13px;
    background-color: white;
}


.container-list{
    margin: 40px 20px;
    background-color: white;
    font-family: Helvetica;
}

.container-button{
    margin-left: 15px;
    background-color: white;
}

.button{
    border-radius: 8px;
    border-color: rgb(128, 125, 125,0.7);
    width: fit-content;
    padding: 7px 15px;
    margin: 10px 0;
    background-color: white;
    color: rgb(128, 125, 125,0.7);
    cursor: pointer;
}

.button:hover{
    background-color: rgb(87, 87, 158);
    color: white;
}

.badge{
    padding: 3px 7px;
    border-radius: 15px;
    color: white;
    font-size: 10px;
    font-family: Helvetica;
}

.badge-red{
    background-color: red;
}
.badge-yellow{
    background-color: yellow;
}
.badge-green{
    background-color: green;
}

.badge-blue{
    background-color: blue;
}

/* Tags */
ul{
    background-color: white;
}

li{
    list-style-type: none;
    background-color: white;
    margin: 10px 0;
}

b{
    background-color: white;
}
